<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Masala Monitor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <style>
        body, html {
            font-family: 'Inter', Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
  <h2>There will be indian food in these dining halls tomorrow</h2>
    <ul>
        <% Object.keys(obj).forEach(function(key) { %>
          <li><%= key %>: </li>
          <ul>
            <% if (Array.isArray(obj[key])) { %>
              <% obj[key].forEach(function(value) { %>
                <li><%= value %></li>
              <% }) %>
            <% } else { %>
              <li><%= obj[key] %></li>
            <% } %>
          </ul>
        <% }) %>
      </ul>
    <p>Dining hall menus are subject to change. Please confirm the menu at <a href="https://eatatstate.msu.edu/">EatAtState</a></p>
    <br>
    <br>
    <br>
    <p style="font-size: 12px;">Please change the things in Firestore accordingly <a href="https://masalamonitor.com/unsubscribe">Unsubscribe now </a></p>
</body>
</html>