<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Masala Monitor</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<style>
			body,
			html {
				font-family: 'Inter', Arial, Helvetica, sans-serif;
			}
		</style>
		<link rel="stylesheet" href="/style.css" />
	</head>

	<body>
		<main class="header">
			<div class="header__logo">
				<h2>Masala Monitor</h2>
			</div>
			<div class="main">
				<div class="main__box">
					<h1 class="main__heading">
						Successfully subscribed &#128523;
					</h1>
					<h2 class="main__sub-heading">
						You have been added to our mailing list and a
						confirmation email has been sent to you. Watch out for
						more emails from us soon!
					</h2>
				</div>
			</div>
			<div class="header__credits">
				<h4 class="header__credits-text">
					Made by <span>Chirag Bhansali</span> and
					<span>Dheeraj Thota</span>
				</h4>
			</div>
		</main>
	</body>
</html>
